* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://picsum.photos/1920/1080");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: rgb(252, 251, 251);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 30px;
}

button {
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    cursor: pointer;
}

#rock:hover, #paper:hover, #scissors:hover {
    box-shadow: rgba(226, 5, 5, 0.616) 0px 48px 100px 0px;
    transform: translateY(-16px);
    transition: 0.5s;
}

#rock {
    background-color: rgb(130, 199, 231);
}

#paper {
    background-color: rgba(51, 145, 51, 0.466);
}

#scissors {
    background-color: rgba(184, 70, 70, 0.61);
}

p {
    font-weight: bold;
    margin-bottom: 10px; 
}

.your-score span {
    color: rgba(247, 202, 5, 0.904);
}

.machine-score span {
    color: rgb(241, 6, 241);
}